h1 {
    text-align: center;
}

body {
    color: #160f26;
}

a {
    color: #4256e7;
}

.text-muted {
    color: #545555;
}

.container {
    padding: 32px;
}

.footer-container {
    box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.18);
}

.footer-logo {
    width: 130px;
    padding: 24px 32px;
    background-color: #ededed;
    vertical-align: middle;
}

.footer-body a {
    color: black;
}

.footer-body__social a {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.footer-body__social img {
    margin-right: 8px;
    vertical-align: middle;
}
