Thumbs.db
.DS_Store
.gradle
build/
packtar/
target/
out/
.idea
*.iml
*.ipr
*.iws
.nextflow*
.project
.settings
.classpath
.factorypath
.layer/opt/fusion/fusionfs
.layer/opt/goofys/goofys
.layer/opt/geesefs
.layer/opt/tini
tower-reg.yml
/wave.*.log
wave.log
build-workspace/
