Thumbs.db
.DS_Store
.gradle
build/
pack/
packtar/
target/
out/
.idea
*.iml
*.ipr
*.iws
.nextflow*
.project
.settings
.classpath
.factorypath
.layer/opt/fusion/fusionfs
layer.tar.gzip
tower-reg.yml
src/main/resources/application-dev.yml
application-prod.yml
/fusion-reg*.log
