Thumbs.db
.DS_Store
.gradle
build/
pack/
packtar/
target/
out/
.idea
*.iml
*.ipr
*.iws
.nextflow*
.project
.settings
.classpath
.factorypath
.layer/opt/fusion/fusionfs
.layer/opt/goofys/goofys
.layer/opt/geesefs
.layer/opt/tini
layer.tar.gzip
tower-reg.yml
/fusion-reg*.log
wave.log
build-workspace/
