site_name: Wave containers
site_url: https://wavecontainers.io/
repo_url: https://github.com/seqeralabs/wave
repo_name: seqeralabs/wave

nav:
  - Home: index.md
  - guide.md
  - api.md
  - faq.md

theme:
  name: material
  custom_dir: docs/assets/overrides
  language: en
  # logo: assets/img/nextflow_logo_mono.svg
  # favicon: assets/img/nf-square.png
  palette:
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue
      toggle:
        icon: material/weather-night
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
  font:
    text: Inter
  features:
    - content.action.edit
    - content.code.annotate
    - content.code.copy
    - navigation.footer
    - navigation.instant
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    - search.share
    - toc.follow
  icon:
    repo: fontawesome/brands/github
extra_css:
  - assets/stylesheets/extra.css
copyright: Copyright &copy; Seqera Labs

extra:
  analytics:
    provider: google
    property: G-P9JP8SYV1E
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
  # Overriden in docs/assets/overrides/partials/social.html
  # Still needs to be set to something here so that the partial is used
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/SeqeraLabs
      name: Seqera Labs on twitter

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.snippets:
      base_path: ["."]
  - pymdownx.snippets
  - pymdownx.superfences
  - tables
  - toc:
      title: On this page
      permalink: true

plugins:
  - search
  - social:
      cards: !ENV [CARDS, true]
