---
micronaut:
  application:
    name: demo
  server:
    port: 9090
---
netty:
  default:
    allocator:
      max-order: 3
---
wave:
  arch: 'x86_64'
  allowAnonymous: true
  server:
      url: 'https://reg.ngrok.io'
...
