---
micronaut:
  application:
    name: wave-app
  server:
    port: 9090
---
netty:
  default:
    allocator:
      max-order: 3
---
wave:
  debug: true
  allowAnonymous: true
  server:
      url: "${WAVE_SERVER_URL:`https://reg.ngrok.io`}"
  build:
    image: "gcr.io/kaniko-project/executor:v1.9.0"
    workspace: 'build-workspace'
    repo: "195996028523.dkr.ecr.eu-west-1.amazonaws.com/wave/build"
    cache: "195996028523.dkr.ecr.eu-west-1.amazonaws.com/wave/build/cache"
---
rate-limit:
  build:
    max: 10
    duration: 1h
  spillway:
    impl: memory
    redis-host:
    redis-port:

