wave:
  build:
    debug: false
    k8s:
      configPath: "${HOME}/.kube/config"
      context: 'docker-desktop'
      namespace: 'wave-local'
      volumeClaim: 'wave-logs'
---
# uses TOWER_xxx variable because the dev environment is expected to be
# the same as of tower
mail:
  from: "${TOWER_CONTACT_EMAIL:wave-app+dev@seqera.io}"
  smtp:
    host: "${TOWER_SMTP_HOST:email-smtp.eu-west-1.amazonaws.com}"
    port: "${TOWER_SMTP_PORT:587}"
    auth: true
    user: "${TOWER_SMTP_USER:`missing smtp user`}"
    password: "${TOWER_SMTP_PASSWORD:`missing smtp password`}"
