wave:
  debug: true
  scan:
    enabled: true
  build:
    workspace: 'build-workspace'
    spack:
      cacheBucket: 's3://nextflow-ci/spack'
      secretKeyFile: 'spack-dev-key-file.txt'
      secretMountPath: '/opt/seqera/spack-key'
---
# uses TOWER_xxx variable because the dev environment is expected to be
# the same as of tower
mail:
  from: "${TOWER_CONTACT_EMAIL:wave-app+dev@seqera.io}"
---
datasources:
  default:
    url: "jdbc:h2:mem:test_mem"
    driverClassName: "org.h2.Driver"
    username: "sq"
    password: ""
    dialect: H2
    schema-generate: CREATE_DROP
---
logger:
  levels:
    io.seqera.wave.service.data: 'TRACE'
    io.seqera.wave.service.pairing: 'TRACE'
    io.seqera.wave.tower.client.connector: 'TRACE'
