wave:
  debug: true
  scan:
    enabled: true
    failure:
      duration: '30s'
  build:
    workspace: 'build-workspace'
  metrics:
    enabled: true
  accounts:
    ### password checksum 'bar'
    foo: "fcde2b2edba56bf408601fb721fe9b5c338d10ee429ea04fae5511b68fbf8fb9"
  jwt:
    refresh:
      interval: '10s'
    monitor:
      interval: '5s'
  cleanup:
    succeeded: '10s'
    failed: '45s'
    strategy: 'onsuccess'
---
endpoints:
  metrics:
    enabled: true
---
# uses TOWER_xxx variable because the dev environment is expected to be
# the same as of tower
mail:
  from: "${TOWER_CONTACT_EMAIL:wave-app+dev@seqera.io}"
---
datasources:
  default:
    url: "jdbc:h2:mem:test_mem"
    driverClassName: "org.h2.Driver"
    username: "sq"
    password: ""
    dialect: H2
    schema-generate: CREATE_DROP
---
logger:
  levels:
    io.seqera.wave.service.data: DEBUG
    io.seqera.wave.service.pairing: TRACE
    io.seqera.wave.tower.client.connector: TRACE
    io.seqera.wave.service.job: TRACE
    io.seqera.wave.service.k8s.K8sServiceImpl: TRACE
#    io.seqera.wave.tower.auth: 'TRACE'
...
