---
micronaut:
  application:
    name: wave-app
  caches :
    # IMPORTANT: use `expire-after-write` strategy to guarantee cached entries are not retained more than the declared period.
    # Using `expire-after-read` can cause an entry to be retained in the cache more than expected if it is hit continuously
    # with a frequency shorter than the declared cache period.
    cache-registry-proxy:
      expire-after-write: 20s
      record-stats: true
    # Discovery client by default uses a cache for results. This is a transitive behaviour
    # introduced by prometheus and management dependencies and below line disables as
    # it is unused at the moment by the wave project. See https://micronaut-projects.github.io/micronaut-discovery-client/latest/guide/#introduction
    discovery-client :
      enabled : false
  server:
    port: 9090
    # https://docs.micronaut.io/latest/guide/#atBlocking
    thread-selection: AUTO
    # note this should be >= the build timeout (which is 15 minutes) see below
    idle-timeout: 910s
  views :
    folder : io/seqera/wave
  router:
    static-resources:
      css:
        paths: 'classpath:io/seqera/wave/css'
        mapping: '/css/**'
        enabled: true
      assets:
        paths: 'classpath:io/seqera/wave/assets'
        mapping: '/assets/**'
        enabled: true
# http client configuration
# https://docs.micronaut.io/latest/guide/configurationreference.html#io.micronaut.http.client.DefaultHttpClientConfiguration
  http:
    services:
      stream-client:
        read-timeout: '30s'
        read-idle-timeout: '120s'
  security:
    enabled: true
    intercept-url-map:
      - pattern: '/**'
        access:
          - isAnonymous()
---
wave:
  allowAnonymous: true
  server:
      url: "${WAVE_SERVER_URL:`http://localhost:9090`}"
  build:
    workspace: "${WAVE_WORKSPACE_BUCKET}"
    buildkit-image: "hrma017/buildkit:v0.22.0-2.4.13"
    singularity-image: "hrma017/singularity:v4.2.1-r5-2.4.13"
    repo: "195996028523.dkr.ecr.eu-west-1.amazonaws.com/wave/build/dev"
    cache: "195996028523.dkr.ecr.eu-west-1.amazonaws.com/wave/build/cache"
    public-repo: "community.wave.seqera.io"
    # note changing this should be matching the micronaut.server.idle-timeout (see above)
    timeout: 900s
    status:
      delay: 5s
      duration: 90m
  httpclient:
    retry:
      delay: '500ms'
      attempts: 5
      multiplier: '1.75'
  scan:
    image:
      name: "hrma017/trivy:v0.63.0-2.4.13"
    environment:
      # see https://github.com/aquasecurity/trivy/discussions/7668#discussioncomment-11028887
      - "TRIVY_DB_REPOSITORY=public.ecr.aws/aquasecurity/trivy-db"
      - "TRIVY_JAVA_DB_REPOSITORY=public.ecr.aws/aquasecurity/trivy-java-db"
  blobCache:
    s5cmdImage: "public.cr.seqera.io/wave/s5cmd:v2.2.2"
  mirror:
    skopeoImage: "hrma017/skopeo:v1.19.0-2.4.13"
---
jackson:
  serialization:
    writeDatesAsTimestamps: false
---
logger:
  levels:
    io.seqera: "DEBUG"
    com.github.benmanes.caffeine.cache.LocalAsyncCache: "ERROR"
...
