---
micronaut:
  application:
    name: wave-app
  caches :
    # Discovery client by default uses a cache for results. This is a transitive behaviour
    # introduced by prometheus and management dependencies and below line disables as
    # it is unused at the moment by the wave project. See https://micronaut-projects.github.io/micronaut-discovery-client/latest/guide/#introduction
    discovery-client :
      enabled : false
  server:
    port: 9090
---
netty:
  default:
    allocator:
      max-order: 3
---
wave:
  debug: false
  allowAnonymous: true
  server:
      url: "${WAVE_SERVER_URL:`http://localhost:9090`}"
  build:
    image: "gcr.io/kaniko-project/executor:v1.9.0"
    workspace: 'build-workspace'
    repo: "195996028523.dkr.ecr.eu-west-1.amazonaws.com/wave/build"
    cache: "195996028523.dkr.ecr.eu-west-1.amazonaws.com/wave/build/cache"
---
logger:
  levels:
    io.seqera: "DEBUG"
#    io.seqera.wave.core: 'TRACE'
...
