<configuration>
    <property name="WAVE_LOG_ROOT" value="${WAVE_LOG_ROOT:-.}" />
    <property name="WAVE_LOG_NAME" value="${WAVE_LOG_NAME:-wave}" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- ansi escape mess-up with non-ansi terminal and loggers -->
        <withJansi>false</withJansi>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />

        <filter class="io.seqera.wave.util.LoggerLevelFilter">
            <level>${WAVE_LOG_LEVEL:-INFO}</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${WAVE_LOG_ROOT}/${WAVE_LOG_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${WAVE_LOG_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 10 days' worth of history capped at 100MB total size -->
            <maxHistory>10</maxHistory>
            <totalSizeCap>200MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
        <filter class="io.seqera.wave.util.LoggerLevelFilter">
            <level>${WAVE_LOG_LEVEL:-DEBUG}</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ROLLING_FILE" />
    </root>
    <logger name="io.seqera" level="DEBUG" />
</configuration>
