# Ignore Gradle project-specific cache directory
.gradle
.idea

# Ignore Gradle build output directory
build
*.log

/build-context
/dev.sh
/Dockerfile
/mr.sh
/remote.sh
/stage.sh
/stress.sh
/test.sh
/scratch
/layer-dir
/local.sh
/Singularityfile
