<html>
<head>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Wave container build notification email">
    <title>Wave container build notification</title>
    <style type="text/css">
        ${mail_styles}
    </style>
</head>
<body>
<div style="font-family:'-apple-system', BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; padding: 30px; max-width: 800px; margin: 0 auto;">
    <img src="cid:wave-logo" style="display: block; margin: 0 auto; margin-bottom: 24px" alt="Wave">
    <h1>Wave container build completion</h1>
    <!--<h2>Run Name: xxx</h2>-->

    <% if (build_success) { %>
    <div style="color: #3c763d; background-color: #dff0d8; padding: 15px; border: 1px solid transparent; border-radius: 4px;">
        <h4 style="margin-top:0; color: inherit;">
            Container build completed successfully!
        </h4>
    </div>
    <% } else { %>
    <div style="color: #a94442; background-color: #f2dede; padding: 15px; border: 1px solid transparent; border-radius: 4px;">
        <h4 style="margin-top:0; color: inherit;">
            Container build failed
        </h4>
    </div>
    <% } %>

    <h3>Summary</h3>
    <table cellpadding="4" >
        <tr>
            <td>Build ID</td>
            <td><a href="${build_url}">${build_id}</a></td>
        </tr>

        <tr>
            <td>User</td>
            <td>${build_user}</td>
        </tr>

        <tr>
            <td>Container image</td>
            <td>${build_image}</td>
        </tr>

        <tr>
            <td>Image format</td>
            <td>${build_format}</td>
        </tr>

        <tr>
            <td>Platform</td>
            <td>${build_platform}</td>
        </tr>

        <tr>
            <td>Build time</td>
            <td>${build_time}</td>
        </tr>

        <tr>
            <td>Duration</td>
            <td>${build_duration}</td>
        </tr>

        <tr>
        <td>Exit status</td>
        <td>${build_exit_status}</td>
        </tr>

        <% if (scan_url) { %>
        <tr>
        <td>Security</td>
        <td><a href="${scan_url}">Image scan report</a></td>
        </tr>
        <% } %>
    </table>

    <h3>Container file</h3>
    <pre style="white-space: pre-wrap; overflow: visible; background-color: #ededed; padding: 15px; border-radius: 4px; margin-bottom:30px;">${build_containerfile}</pre>

    <% if (build_condafile) { %>
    <h3>Conda file</h3>
    <pre style="white-space: pre-wrap; overflow: visible; background-color: #ededed; padding: 15px; border-radius: 4px; margin-bottom:30px;">${build_condafile}</pre>
    <% } %>

    <% if (build_spackfile) { %>
    <h3>Spack file</h3>
    <pre style="white-space: pre-wrap; overflow: visible; background-color: #ededed; padding: 15px; border-radius: 4px; margin-bottom:30px;">${build_spackfile}</pre>
    <% } %>

    <h3>Build logs</h3>
    <pre style="white-space: pre-wrap; overflow: visible; background-color: #ededed; padding: 15px; border-radius: 4px; margin-bottom:30px;">${build_log_data}</pre>

    <div class="footer" style="clear:both;width:100%;">
        <table class="footer-container" cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
                <!-- Footer Body -->
                <td class="footer-body" style="padding: 16px; vertical-align: top;">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td>&copy Wave by Seqera</td>
                        </tr>
                        <tr>
                            <td>Carrer de Marià Aguiló,  28</td>
                        </tr>
                        <tr>
                            <td>08005 Barcelona</td>
                        </tr>
                        <tr>
                            <td><a href="https://seqera.io/">https://seqera.io/</a></td>
                        </tr>
                        <tr>
                            <td class="footer-body__social">
                                <a href="https://github.com/seqeralabs"><img src="cid:github-icon" alt="github"></a>
                                <a href="https://www.linkedin.com/company/14065390/"><img src="cid:linkedin-icon" alt="linkedin"></a>
                                <a href="https://twitter.com/seqeralabs"><img src="cid:x-icon" alt="twitter"></a>
                                <a href="https://www.youtube.com/@seqeralabs"><img src="cid:youtube-icon" alt="youtube"></a>
                            </td>
                        </tr>
                    </table>
                </td>

                <!-- Footer Logo -->
                <td class="footer-logo">
                    <img src="cid:seqera-logo" style="display: block; margin: 0 auto;">
                </td>
            </tr>
        </table>
    </div>

</div>

</body>
</html>
