<div class="footer-divider"></div>
<div class="footer-content">
    <div class="copyright">
        © 2025 Seqera. All Rights Reserved.
    </div>
    <div class="footer-links">
        <a href="https://seqera.io/legal/" class="footer-link">User agreement</a>
        <a href="https://seqera.io/privacy-policy/" class="footer-link">Privacy statement</a>
    </div>
</div>
