---
name: Typespec_Validation

on:
  push:
    branches:
      - '**'
    paths :
      - 'typespec/**'
      - VERSION
  pull_request:
    types: [opened, reopened, synchronize]
    paths:
      - 'typespec/**'
      - VERSION

permissions:
  contents: read

jobs:
  typespec_validation:
    name: validate typespec files
    runs-on: ubuntu-latest

    steps:
      - name : Checkout
        uses : actions/checkout@v4

      - name : Setup Node.js environment
        uses : actions/setup-node@v4
        with :
          node-version : '20.9.0'

      - name : Install tsp
        run : npm install -g @typespec/compiler@0.64.0

      - name : Validate tsp files
        run : |
          cd typespec
          tsp install
          tsp compile .

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{secrets.TOWER_CI_AWS_ACCESS}}
          aws-secret-access-key: ${{secrets.TOWER_CI_AWS_SECRET}}
          aws-region: eu-west-1

      - name : Login to Amazon ECR
        id : login-ecr
        uses : aws-actions/amazon-ecr-login@v1

      - name: Release OpenAPI docs
        if: "contains(github.event.head_commit.message, '[release]')"
        run: |
          bash typespec/tag-and-push-docs.sh
